.sidebar {
  width: 250px;
  top: 5rem; /* Navbar yüksekliğine göre ayarlayın */
  bottom: 1rem; /* Footer üstünde olması için ayarlayın */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.custom-scrollbar {
  overflow-y: auto;
}
